@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --port-color: #264653;
  --port-light-color: #2A9D8F;
  --port-yellow-color: #E9C46A;
  --port-orange-color: #F4A261;
  --port-red-color: #E76F51;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
